
.body-container{
    height: calc( 100% - 64px );
    position: relative;
}
.body-inner{
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 120px;
    width: 1000px;
    margin: auto;
    text-align: center;
    border-bottom: 8px solid white;
}
.hidden{
    visibility: hidden;
}
.big-span{
    font-size: 100px;
    color: #28a773;
}
.small-span{
    font-size: 60px;
    color: #dc725d;
}