<div id="index" class="body-container">
    <div class="body-inner">
        <span class="big-span">L</span>
        <span class="small-span">E</span>
        <span class="small-span">S</span>
        <span class="small-span">S</span>
        <span class="hidden">Z</span>
        <span class="big-span">I</span>
        <span class="small-span">S</span>
        <span class="hidden">Z</span>
        <span class="big-span">M</span>
        <span class="small-span">O</span>
        <span class="small-span">R</span>
        <span class="small-span">E</span>
    </div>
</div>