
.page-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('../lib/1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
}
header{
    padding:24px 0;
    background: #333;
}
.logo{
    position: absolute;
    top: 24px;
    left: 24px;
    color: white;
    font-size: 18px;
    display: block;
    height: 30px;
    width: 260px;
    text-align: center;
    line-height: 30px;
    background: #8666B8;
}
header ul{
    list-style: none;
    text-align: right;
    padding-right: 20px;
}
header ul li {
    margin-right: 10px;
    display: inline-block;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    font-size: 18px;
    background: rgba(255,255,255,0.4);
    height:30px;
    line-height: 30px;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
header ul li:hover{
    background: white;
    color: black;
}

