<div class="outer-container">
    <div class="container bottom-shadow">
        <h1>Personal information:</h1>
        <h3>黄晓萌(Mien)</h3>
        <h3>90后</h3>
        <h3>目前是北漂大军中的一员-宇宙中心五道口</h3>
    </div>
    <div class="container bottom-shadow">
        <h1>Personal flag:</h1>
        <h3>
            <span>非典型程序员</span>
            <span>文艺</span>
            <span>技术宅</span>
            <span>技术狂热</span>
            <span>热衷于造轮子</span>
            <span>创客</span>
        </h3>
    </div>
    <div class="container bottom-shadow">
        <h1>Education information:</h1>
        <h3>2014年6月毕业于河北科技大学</h3>
    </div>
    <div class="container bottom-shadow">
        <h1>Work experience information:</h1>
        <h3>2013年暑假参加实习-绿盟科技-安全专员</h3>
        <h3>2013年实习-北京拓明科技-网络优化工程师</h3>
        <h3>2014年6月-北京天融信-前端工程师</h3>
        <h3>2015年10月-北京花开影视制作有限公司(中科院自动化所子公司)-全栈工程师</h3>
        <h3>2016年10月-斯伦贝谢(北京)-前端工程师</h3>
    </div>
    <div class="container bottom-shadow">
        <h1>Other things</h1>
        <h3>个人公众号：心钛度</h3>
        <h3>小程序：轻卡集。一个关于个人账户备份，卡片备份的小程序。</h3>
        <h3>因为我本人有很多的邮箱，所以邮箱账户密码很难记住。使用这个小程序可以很方便的记录我的这些账户密码。</h3>
    </div>
</div>