.container{
    margin: 20px;
    background-color: #fff;
    padding: 10px 10px 10px 40px;
    color: #666;
}
h1{
    font-size: 24px;
    margin-bottom: 10px;
    text-indent: -30px;
}
h3{
    font-size: 15px;
    margin-bottom: 4px;
}
span{
    margin-left: 10px;
    padding: 2px 10px;
    color: #fff;
}
span:nth-child(odd){
    background-color: #ea644a;
}
span:nth-child(even){
    background-color: purple;
}